.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #303030;
  color: #EEE;
  font-weight: 300;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  z-index: 30;
}

.navigation__content {
  display: flex;
  align-items: center;
  height: 3.25em;
  box-sizing: border-box;
  clear: both;
  margin-left: 0.5em;
}

.navigation__title {
  display: inline-block;
  padding: 0 1em;
  font-size: 1.5em;
  margin: 0;
  letter-spacing: 0;
}
