.process_list {
    font-family: Consolas;
    font-size: 14px;
    display: block;
    table-layout: fixed;
}

.process_list__loading__spinner {
    padding-left: 2em;
    display: inline-block;
}

.process_list__loading__text {
    display: inline-block;
}

.process_list__header_row {
    text-align: left;
}

.process_list tbody {
    display: block;
    overflow: scroll;
    max-width: 100%;
    max-height: 50vh;
}

.process_list td {
    padding: 0.3em 1em;
}

.process_list tr:nth-of-type(2n) {
    background-color: rgba(200, 200, 200, 0.2);
}

.process_list__warning {
    background: rgba(230, 190, 8, 0.3);
    color: rgb(46, 38, 16);
    padding: 0.5em 0;
}

.process_list__warning__text {
    margin: 0 0 0 1.5em;
}