.sidebar {
  height: 100%;
  position: absolute;
  width: 17em;
  margin-top: 1em;
  border-radius: 0.05em;
}

.sidebar:after {
  content: "";
  display: table;
  clear: both;
}

.navigation_list, .navigation_section_item__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  flex-wrap: wrap;
}

.navigation_link_item {
  float: left;
  flex-grow: 1;
  clear: both;
  color: #EEE;
}

.navigation_section_item__link {
  font-weight: 500;
}

.navigation_link_item__link,
.navigation_section_item__link {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  transition: 100ms ease-in-out;
  box-sizing: border-box;
}

.navigation_link_item__link {
  padding: 0.75em 0 0.75em 2em;
}
.navigation_section_item__link {
  padding: 1.2em 0 1.2em 2em;
}

.navigation_link_item__link:visited,
.navigation_section_item__link:visited {
  color: #EEE;
}

.navigation_link_item__link:active,
.navigation_section_item__link:active {
  color: #d2beda;
  background-color: rgba(240, 240, 240, 0.03);
}

.navigation_link_item__link--active_link {
  color: #d2beda !important; /* I'm sorry, I had no time! */
  background-color: rgba(240, 240, 240, 0.03);
}

.navigation_section_item__link--active_link {
  color: #d2beda !important;
  background-color: rgba(240, 240, 240, 0.03);
  border-left: 5px solid #9b59b6;
}

.navigation_section_item {
  float: left;
  flex-grow: 1;
  clear: both;
  color: #EEE;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  flex-wrap: wrap;
}

.navigation_section_item__list {
  padding-left: 2em;
  box-sizing: border-box;
}